/latke/target/
/latke-client/target/
/latke-repository-mysql/target/
/latke-repository-h2/target/
/latke-gae/target/
/latke-bae/target/
/maven-min-plugin/target/
/latke-demo/hello/target/
/target/
pom.xml.*
/*/pom.xml.*
release.properties