/latke/target/
/latke-client/target/
/latke-repository-mysql/target/
/latke-repository-h2/target/
/latke-demo/hello/target/
/target/
pom.xml.*
/*/pom.xml.*
release.properties
/latke-repository-/target/
/latke-repository-sqlserver/target/
